html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: #1F1F1F;
  color:black;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.c-scrollbar{
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform .3s, opacity .3s;
  opacity:1;
}
.c-scrollbar_thumb{
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  opacity: 1;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: grab;
}

* {
  box-sizing: border-box;
}

.art___gallery___heading{
  -webkit-text-stroke: 0.1rem white;
}
.footer___contact{
  -webkit-text-stroke: 0.2rem black;
}
.footer___links > h1{
  position: relative;
  transition: 1s;
}
.footer___links > h1:hover::after{
  content: '';
  position: absolute;
  height:10%;
  top:100%;
  left:0%;
  background-color: black;
  animation: widther 1s forwards 0s alternate;
}

/*
.header__links > div >h5{
  transition: 0.4s;
}
.header__links > div > h5:hover{
  padding: 0.5rem 1rem;
  background: #1F1F1F;
  color: white;
}*/

@keyframes widther {
    from{
      width: 0%;
    }
    to{
      width: 100%;
    }
}

@media screen and (max-width: 1400px) {
  .head-line{
    font-size: 15vw;
  }
}
@media screen and (max-width: 500px) {
  .head-line{
    font-size: 18vw;
  }
  
}

.flow{
  overflow: hidden;
  max-height: fit-content;
}

.testimonial-img{
  height:fit-content;
  border-radius:50%;
  border:0.8rem solid #1DA1F2;
  max-width:280px;
  object-fit:contain;
  margin-top: -15%;
  width:30%
  
}
.zoom-skills{
  transition: 0.2s;
}
.zoom-skills:hover{
  transform:scale(1.2)
}

@media screen and (max-width: 900px) {
  .css-scroll{
    overflow-x:auto;
    width:100%;
    position:relative;
  }
  .footer___contact{
    font-size: 6vw;
    -webkit-text-stroke: 0.1rem black;
  }
  .footer___email{
    font-size: 6vw;
  }
  .footer___links > h1{
    font-size: 5vw;
  }
  .c-scrollbar_thumb{
    opacity: 0;
    width: 0px;
  }
  html,body{
    overflow-y: visible;
  }
  
}
@media screen and (min-width: 1401px) {
  .head-line{
    font-size: 13.5rem;
  }
}
